.animated-wobble {
  animation: wobble 2s ease-in-out;
}

.animated-fadeOut {
  animation: fadeOut 1s;

}

.animated-flipCard {
  animation: flipCard 1s both;
}

.animated-shake {
  animation: shake 1s both;
}

@keyframes wiggle {
    0% {transform: rotate(10deg);}
    25% {transform: rotate(-10deg);}
    50% {transform: rotate(20deg);}
    75% {transform: rotate(-5deg);}
    100% {transform: rotate(0deg);}
  }

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes flipCard {
  from {
    transform: perspective(400px);
  }

  30% {
    transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    opacity: 1;
  }

  to {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    opacity: 0;
  }
}

@keyframes wobble {
  from {
    transform: translate3d(0, 0, 0);
  }

  10% {
    transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -2deg);
  }

  20% {
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  30% {
    transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -2deg);
  }

  40% {
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  50% {
    transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -2deg);
  }

  60% {
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  70% {
    transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -2deg);
  }

  80% {
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  90% {
    transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -2deg);
  }

  100% {
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes shake {
  from,
  to {
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate3d(10px, 0, 0);
  }
}