
// COLORS
$color-background-dark: #003f8d;
$color-background-light: #9d9aac86;
$color-primary: #1D7CF2;
$color-primary-light: #7bace9;
$color-primary-dark: #003f8d;
$color-secondary: #f21d4b;
$color-terciary: #f2c41d;
$color-grey-light:#b1b0b0;
$color-grey-dark:#616060;
$color-white: #fff;
$color-black: #000;

$background-color: linear-gradient(to right bottom, $color-background-dark, $color-primary, $color-background-light ); 

// FONT SIZE
$default-font-size: 1.6rem;
$default-number-size: 8rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
