.flashcard {
    position: relative;
    background-image: $background-color;
    height: 95vh;
    overflow: none;

    &-container {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-card {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        height: 50rem;
        width: 30rem;
        border: solid 8px $color-secondary;
        border-radius: 30px;
        padding: 1rem;
        background-color: $color-white;

    }

    &-equation {
        display: inline-block;
        width: 15rem;
        color: $color-grey-dark;
        font-size: 8rem;
        font-weight: 600;
        border-bottom: 3px solid $color-grey-light;

        &-number {
            display: block;
            text-align: right;
            margin-left: 1rem;
        }

        &-operator {
            float: left;
        }
    }

    &-input {
        margin-top: 3rem;

    }

    &-correct-answer {
        position: relative;
        margin-bottom: 3rem;
        font-size: 8rem;
        font-weight: 600;
        text-align: center;  
            &-icon {
                position: absolute;
                margin-top: 8rem;
                height: 5rem;
                width: 5rem;
                fill: $color-grey-light;
                @include absCenter;
                opacity: .5;
            }
        }

}




