input[type=text] {
    font-size: 8rem;
    font-weight: 600;
    color: $color-grey-dark;
    border:none;
    background-color: lighten($color-grey-light, 25%);
    border-radius: 10px;
    height: 10rem;
    transition: all 100ms;
    width: 80%;
    text-align: center;
    &:focus {
        outline: none;
        border: 1px solid $color-secondary; 
    }
    &:after {
        opacity: 0;
    }
}    
